ul {
  list-style: none;
}

.jumbotron {
  height: 300px;
  text-align: center;
  background-image: url(https://static.pexels.com/photos/1755/purple-abstract-blur-bokeh.jpg);
  background-size: cover;;
  background-repeat: no-repeat;
  font-family: 'Offside', cursive;
  color: white;
}

button {
  background-color: rgba(99,54,65,0.7);
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.createQuestion {
  text-align: center;
}

.createQuestion button {
  padding: 16px;
  background-color: white;
  color: rgb(99,54,65);
  border: solid 2px rgb(99,54,65);
  box-shadow: 1px 1px rgba(99,54,65,0.3);
}

#home {
  width: 100px;
  margin: 0 auto;
  border: 2px solid white;
  text-decoration: none;
  color: white;
}

#home a {
  color: white;
  text-decoration: none;
}

#home a:hover {
  color: rgb(137,217,208);
}
