<div class="wrapper">
  <div class="createQuestion">
    {{new-question save2="save3"}}
  </div>
  <ul>
    {{#each model.questions as |question|}}
    <!-- {{answer-popularity question}} {{#link-to 'question' question.id}}{{/link-to}} -->
      {{answer-popularity question}}{{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
      <hr>
    {{/each}}
  </ul>
</div>
